<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wisteria</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <aside>
        <h1 id="icon"><img src="/images/icon.png" alt="icon"></h1>
        <div id="btn-nav">
            <a href="#"><img src="/images/home.png" alt="home"></a>
            <a href="#" id="add-post-btn"><img src="/images/post.png" alt="post"></a>
            <a href="#"><img src="/images/profile.png" alt="profile"></a>
        </div>
        <h1>❕</h1>
    </aside>
    <main>
        <div id="post-modal">
            <div id="modal-content">
                <form action="/submit-post" method="post" id="post-form">
                    <textarea name="post" id="post" placeholder="What's on your mind..."></textarea>
                    <button id="close-modal" class="modal-btn">Cancel</button>
                    <input type="submit" value="Post" id="post-content" class="modal-btn">
                </form>
            </div>
        </div>
        <section id="content-section">
            <h1 id="content-header">Posts for today</h1>
            <% posts.forEach(post=> { %>
                <article class="section__content-section">
                    <p class="content">
                        <%= post.value %>
                    </p>
                </article>
                <% }); %>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/index.js"></script>
</body>

</html>